<ion-view view-title="" hide-back-button="true"  ng-controller="searchCtrl">

  <ion-content class="bg-grey2  pad15">
  
    <div class="line-search">
      <h3 class="title-line">Je cherche</h3>
      <label ng-repeat="cat in search.list_cat" ng-model="cat.selected" ng-click="cat.selected=!cat.selected" for="" class="tag-search" ng-class="{added:cat.selected}">{{cat.nom}} <span class="ion-close-circled" ng-class="{'ion-close-circled':cat.selected,'ion-plus-circled':!cat.selected}"></span></label>
    </div>
    <div class="line-search">
      <h3 class="title-line">Type <span class="pull-right line-type">250 <em>Km</em></span></h3>
      <div class="row item-tog ">
        <div class="col ">
          <label class="toggle ">
             <input type="checkbox" ng-model="search.achat" >
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
           <span>Achat {{search.achat}}</span>
        </div>

         <div class="col">
          <label class="toggle ">
             <input type="checkbox" ng-model="search.location">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
           <span>Location</span>
        </div>
       
      </div>
    </div>


     <div class="line-search">
      <h3 class="title-line">À partir de </h3>
      <div class="row item-tog ">
        <div class="col ">
          <label class="toggle ">
             <input type="checkbox" ng-model="search.ma_position">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
           <span>Ma position</span>
        </div>

         <div class="col text-right location-search">
          
           <label>Quatier du nord</label>
           <i class="ion-ios-location"></i>
        </div>
       
      </div>
    </div>


     <div class="line-search">
      <h3 class="title-line">Distance <span class="pull-right line-type">250 <em>Km</em></span></h3>
      <div class="item-tog  range range-balanced">
        <input type="range" name="distance" ng-model="search.distance">
       
      </div>
    </div>


    <div class="line-search">
      <h3 class="title-line">Budget <span class="pull-right line-type">{{search.max*(search.budget/100) | number:0}} <em>Euros</em></span></h3>
      <div class="item-tog  range range-balanced">
        <input type="range" name="distance" ng-model="search.budget">
       
      </div>
    </div>
  




  </ion-content>
</ion-view>




<ion-tabs class="tabs-icon-top  nav-bot" >

        <ion-tab title="ANNONCES" icon="ion-plus" href="#/app/annonce">
        </ion-tab>

        <!-- <ion-tab title="NOUVELLE RECHERCHE" icon="ion-ios-search-strong" class="search-btn" href="#/app/search">
        </ion-tab> -->
         <ion-tab title="" icon="" class="btn-search"  ng-click="showAlert()">
        </ion-tab>
        <span class="ion-ios-search button-search" ng-click="gotosearch()"></span>

        <ion-tab title="FAVORIS" icon="ion-ios-star-outline" href="#/app/favoris">
        </ion-tab>
        <span class="badge nbre-favorit badge-noti-fav" >{{nombre_favoris}}</span>

</ion-tabs>






